/* Обнуляющие стили */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Fonts */

@font-face {
  font-family: 'poppins medium';
  src: url(fonts/poppins_medium/poppins_medium.eot);
  src: url(fonts/poppins_medium/poppins_medium.svg);
  src: url(fonts/poppins_medium/poppins_medium.ttf);
  src: url(fonts/poppins_medium/poppins_medium.woff);
  src: url(fonts/poppins_medium/poppins_medium.woff2);
}
@font-face {
  font-family: 'poppins bold';
  src: url(fonts/poppins_bold/poppins_bold.eot);
  src: url(fonts/poppins_bold/poppins_bold.svg);
  src: url(fonts/poppins_bold/poppins_bold.ttf);
  src: url(fonts/poppins_bold/poppins_bold.woff);
  src: url(fonts/poppins_bold/poppins_bold.woff2);
}
@font-face {
  font-family: 'poppins regular';
  src: url(fonts/poppins_regular/Poppinsregular.ttf);
  src: url(fonts/poppins_regular/Poppinsregular.woff);
  src: url(fonts/poppins_regular/Poppinsregular.woff2);
}
@font-face {
  font-family: 'ralaway';
  src: url(fonts/raleway/Raleway.ttf);
}

/* Page start */

body {
  background-color: black;
}
.conteiner {
    margin: 0 auto;
    width: 90%;
    position: relative;
}

/* Menu */

.nav_wrapper {
    display: none;
    position: absolute;
    margin-top: 400px;
    width: 100%;
}
nav {
  width: 30%;
  float: right;
  background-color:#520e29e8;
  padding: 30px;
}
.menu {
  width: 100%;
  text-align: center;
}
.menu li a{
  text-decoration: none;
  font-size: 23px;
  font-family: 'poppins medium';
  color: white;
}
.menu li a:hover {
  border-bottom: solid #fff;
}
.menu li {
  margin-top: 20px;
}
.menu li:first-child {
  margin-top: 0;
}
.closed {
  cursor: pointer;
  position: absolute;
  right: 35px;
}

.start {
    background: url(img/bc.jpg) center no-repeat;
    background-size: cover;
    padding-bottom: 350px;
}
.logo {
    text-transform: uppercase;
    color: white;
    font-size: 28px;
    font-weight: 900;
    font-family: 'poppins medium';
    letter-spacing: 2px;
    padding: 25px 0px;
}
.header__nav {
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
span{
    display: block;
    height: 4px;
    background-color: white;
    transition: linear .3s;
}
.one {
    width: 45px;
}
.two {
    width: 30px;
}
.three {
    width: 40px;
}
.four {
    width: 35px;
}
.wrapper__nav {
  display: flex;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.title-nav {
  font-size: 18px;
  color: white;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'poppins medium';
  letter-spacing: 2px;
}
h1 {
  font-size: 85px;
  color: white;
  font-family: 'poppins bold';
  padding-top: 250px;
  padding-bottom: 45px;
}
.link {
  font-family: 'poppins bold';
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 15px 35px;
  border-radius: 50px;
  background: rgb(2,0,36);
  background: linear-gradient(304deg, rgba(2,0,36,1) 0%, rgba(60,56,235,1) 0%, rgba(255,0,200,1) 100%);
}
.conteiner-content {
  width: 70%;
  margin: 0 auto;
}
.social {
  display: block;
}
.social-networks {
  display: flex;
  position: absolute;
  margin-top: 750px;
  width: 150px;
  justify-content: space-between;
  padding-bottom: 35px;
}
.decorative-circle {
  position: absolute;
}
.circle-one {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(2,0,36);
  background: linear-gradient(304deg, rgba(2,0,36,1) 0%, rgba(60,56,235,1) 0%, rgba(255,0,200,1) 100%);
  transform: translate(300px, 160px);
  animation-name: circle-one;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1.5s;
  animation-fill-mode: none;
}
.circle-two {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgb(2,0,36);
  background: linear-gradient(304deg, rgba(2,0,36,1) 0%, rgba(60,56,235,1) 0%, rgba(255,0,200,1) 100%);
  transform: translate(1000px, 250px);
  animation-name: circle-two;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0,.39,1,.45);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1.5s;
  animation-fill-mode: none;
}
.circle-three {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgb(2,0,36);
  background: linear-gradient(304deg, rgba(2,0,36,1) 0%, rgba(60,56,235,1) 0%, rgba(255,0,200,1) 100%);
  transform: translate(0px, 560px);
  animation-name: circle-three;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1.5s;
  animation-fill-mode: none;
  
}

@keyframes circle-one {
  0%{
    left: 0px;
    top: 0px;
  }
  50%{
    width: 55px;
    height: 55px;
  }
  100%{
    left: 17px;
    top: 25px;
  }
}
@keyframes circle-two {
  0%{
    top: 0px;
  }
  100%{
    top: -17px;
  }
}
@keyframes circle-three {
  0%{
    left: 0px;
  }
  50%{
    width: 140px;
    height: 140px;
  }
  100%{
    left: 20px;
  }
}
.header__nav:hover span{
  width: 100%;
}

/* Page one */

.true {
  background-color: #333333;
  padding-top: 100px;
}
.true__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
}
.true__icon:hover {
  background: rgb(2,0,36);
  background: linear-gradient(304deg, rgba(2,0,36,1) 0%, rgba(60,56,235,1) 0%, rgba(255,0,200,1) 100%);
}
.wrapper-icon {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title {
  color: white;
  font-size: 36px;
  font-family: 'poppins bold';
}
.subtitle{
  font-size: 14px;
  font-family: 'poppins regular';
  color: white;
  margin-top: 30px;;
}

/* True */


.true {
  padding-bottom: 100px;
}
.true__content {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
}
.true__images {
  width: 100%;
  height: 400px;
  background: url(img/man.jpg) center no-repeat;
  background-size: cover;
  border-radius: 30px;
}
.true__wrapper{
  display: flex;
  justify-content: space-around;
  color: white;
}
.wrapper-section {
  text-align: center;
  margin-top: 40px;
}
.number {
  font-family: 'poppins bold';
  font-size: 48px;
}
.t-text {
  font-family: 'poppins regular';
  font-size: 14px;
  color: #cccccc;
  text-transform: uppercase;
}

/* Portfolio */

.portfolio {
  background-color: #333333;
}
.portfolio-page {
  background-color: #1a1a1a;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 25px;
}
.subtitle {
  color: #cccccc;
}
.title, .subtitle {
  text-align: center;
}
.portfolio-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  color: white;
}
.portfolio__cell {
  width: 30%;
  text-align: center;
}

.cell-img {
  width: 100%;
  background-color: gray;
  border-radius: 25px;
  height: 250px;
}
.cell-tetle {
  font-family: 'poppins bold';
  font-size: 20px;
  margin-top: 35px;
}
.cell-text {
  font-family: 'poppins medium';
  font-size: 14px;
  color: #cccccc;
  margin-top: 15px;
}
.cell-mode {
  color: #e90c64;
  display: inline;
}

/* Information */

.information {
  padding-top: 100px;
  background-color: #333333;
}
.informtion__wrapepr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}
.information-right {
  width: 60%;
}
.information-left {
  width: 35%;
}
.title-information, .subtitle-information{
  text-align: start;
}
.subtitle-information {
  padding-bottom: 40px;
}
.link {
  text-transform: uppercase;
}
.information-right {
  height: 300px;
  background-color: black;
  border-radius: 25px;
}

/* Slider */

.slider {
  width: 100%;
  padding-bottom: 100px;
}
#block-for-slider {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#viewport {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}

#slidewrapper {
  position: relative;
  width: calc(100% * 4);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
  margin: 0;
  padding: 0;
}

.slide {
  width: calc(100%/4);
  list-style: none;
  display: inline;
  float: left;
}

.slide-img {
  width: 100%;
  border-radius: 25px;
}

#prev-btn, #next-btn {
  
  
  border-radius: 50%;
  top: calc(50% - 25px);
}


#prev-btn {
margin-right: 30px;
}

#next-btn {
  margin-left: 30px;
}
#nav-btns {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.slide-nav-btn {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin: 3px;
}

.slide-nav-btn:hover {
  cursor: pointer;
}
.arrow-6 {
}
.arrow-6 svg {
  width: 40px;
  height: auto;
  margin: 0 2rem;
  cursor: pointer;
  overflow: visible;
}
.arrow-6 svg polygon, 
.arrow-6 svg path {
  transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
  fill:rgba(255,0,200,1);
}
.arrow-6 svg:hover polygon, 
.arrow-6 svg:hover path {
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
  fill:#e90c64;
}
.arrow-6 svg:hover .arrow-6-pl {
  animation: arrow-6-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-6 svg:hover .arrow-6-pl-fixed {
  animation: arrow-6-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-6-anim {
  0% {
      opacity: 1;
      transform: translateX(0);
  }
  5% {
      transform: translateX(-0.1rem);
  }
  100% {
      transform: translateX(1rem);
      opacity: 0;
  }
}
@keyframes arrow-6-fixed-anim {
  5% {
      opacity: 0;
  }
  20% {
      opacity: 0.4;
  }
  100% {
      opacity: 1;
  }
}

/* About Us */

.about-us {
  background-color: #333333;
  padding-bottom: 300px;
}
.about-us__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cell-about {
  width: 31%;
  max-width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 25px;
}
.cell-about-two, .cell-about-three {
  margin-top: 60px;
}
.cell-about-three {
  padding: 25px;
}
.about-subtitle {
  padding-bottom: 40px;
}
.about-title, .about-subtitle {
  text-align: start;
}
.cell-about-three {
 background-color: transparent;
}

/* Footer */

footer {
  padding-bottom: 100px;
}
form {
  text-align: center;
  width: 100%;
  padding-top: 30px;
  align-items: center;
}
.subscribe {
  background-color: #242424;
  border-radius: 25px;
  padding: 100px 0px;
  z-index: 1;
  margin-top: -200px;
}
.e-mail {
  width: 55%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 0px 25px;
  font-family: 'poppins medium';
}
.submit {
  width: 20%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: rgb(2,0,36);
  background: linear-gradient(304deg, rgba(2,0,36,1) 0%, rgba(60,56,235,1) 0%, rgba(255,0,200,1) 100%);
  color: white;
  font-family: 'poppins bold';
  font-size: 17px;
  text-transform: uppercase;
  margin-left: -4px;
}
input {
  border: none;
  outline: none;
  height: 50px;
}
.footer-text {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 35px;
}
body {
  background-color: #1a1a1a;
}
h3 {
  color: white;
  font-size: 17px;
  font-family: 'ralaway';
}
.footer-content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.logo-footer {
  padding-top: 0;
}
.footer-logo {
  width: 35%;
}
.footer-network {
  margin-top: 25px;
}
.footer-cell {

}
.cell-net {
  width: 150px;
}
.footer-text-two {
  margin-top: 25px;
}
.footer-text-two , .footer-text-three {
  color: #b3b3b3;
  font-family: 'poppins regular';
  font-size: 14px;
}
.footer-text-three {
  margin-top: 25px;
}
.footer-nav {
  display: block;
  text-decoration: none;
  color: #b3b3b3;
  font-family: 'poppins regular';
  font-size: 14px;
  margin-top: 20px;
}
.true__images {
  background: url(img/true.jpeg) center no-repeat;
  background-size: cover;
}
.cell-img-one {
  background: url(img/portfolioone.jpeg) center no-repeat;
  background-size: cover;
}
.cell-img-two {
  background: url(img/portfoliotwo.jpeg) center no-repeat;
  background-size: cover;
}
.cell-img-three {
  background: url(img/portfoliothree.jpeg) center no-repeat;
  background-size: cover;
}
.information-right {
  background: url(img/information.jpeg) center no-repeat;
  background-size: cover;
}
.cell-about-one {
  background: url(img/cellabout.jpeg) center no-repeat;
  background-size: cover;
}
.cell-about-two {
  background: url(img/cellabountwo.jpeg) center no-repeat;
  background-size: cover;
}